$background: #f3f3f3;
$navBar: #645496;
$lightShades: #a14b9a;
$cta: #da3683;
$cta2: #ff3355;
$veryDarkBlue: #2f4858;
$darkBlue: #37527c;
$purplishBlue: #645496;
$glass: 'rgba(255, 255, 255, 0.2)';

// dark background
$darkBackground: #171515;
$darkHeadings: #f3f3f3;
$darkText: #00aaa9;
