@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

#root {
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.burgerMenu div {
  margin-block: 5px;
  height: 3px;
  width: 25px;
  background: $background;
  transition: transform 1s ease, opacity 1s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

button,
li {
  transition: all 0.5s ease-in;
}

#skill-set {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 45px;
}

.grid-ctn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 1.5rem;
  max-width: 500px;
  margin-inline: auto;
  margin-block: 25px;
}

.skill {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 15px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: scale 0.5s ease;

  &:hover {
    scale: 1.09;
  }
}

@media (min-width: 768px) {
  .grid-ctn {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 390px) {
  .skill {
    width: 150px;
  }
}

@media (min-width: 468px) {
  .skill {
    width: 200px;
  }
}

.project,
form {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
}

.tools-used > div {
  transition: all 0.5s ease-in-out;
}

#hero-section {
  animation: slideUp 2s forwards;
  transform: translateY(200px);
  opacity: 0;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#about {
  div {
    transition: all 2s ease;

    &.slide-out {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  img {
    transition: all 2s ease;

    &.slide-out {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

#myprojects {
  .mainContent {
    transition: transform 1s ease, opacity 2s ease 200ms;

    &.slide-out {
      transform: translateY(100%);
      opacity: 0;
      visibility: invisible;
    }
  }
}

.slide-in {
  transform: translate(0%) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.projects--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;

  .project .imageContainer {
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);

    img {
      transition: scale 0.5s ease;
    }
  }
}

.cover {
  width: 100%;
  height: 100%;
  background-color: hsla(217, 39%, 35%, 0.4);
  transition: transform 1s ease;
  transform-origin: bottom;
  border-radius: 6px;
  display: none;
  transform: translateY(100%);
}

.project:hover {
  .cover {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    animation: hover 1s ease forwards;
  }

  img {
    scale: 1.03;
  }
}

.project:not(:hover) .cover {
  animation: unHover 1s ease forwards;
  animation-direction: reverse;
}

@keyframes hover {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes unHover {
  0% {
    transform: translateY(0%);
    display: block;
  }

  100% {
    transform: translateY(100%);
    display: block;
  }
}

.mobilenav {
  transition: transform 1s ease;
}

form {
  grid-template-columns: repeat(2, 1fr);
}

input:focus,
textarea:focus {
  background-color: rgba(232, 240, 254);
}

.scroll-to-top {
  animation: scrollToTop 0.5s ease infinite;
}

@keyframes scrollToTop {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(5px);
  }
}
