@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

#root {
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: 'Source Sans Pro', sans-serif;
}

.nav {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.burgerMenu div {
  margin-block: 5px;
  height: 3px;
  width: 25px;
  background: $background;
  transition: transform 1s ease, opacity 1s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

button,
li {
  transition: all 0.5s ease-in;
}

#skill-set {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 45px;
}

.grid-ctn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 1.5rem;
  max-width: 500px;
  margin-inline: auto;
  margin-block: 25px;
}

.skill {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 15px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: scale 0.5s ease;

  &:hover {
    scale: 1.09;
  }
}

@media (min-width: 768px) {
  .grid-ctn {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 390px) {
  .skill {
    width: 150px;
  }
}

@media (min-width: 468px) {
  .skill {
    width: 200px;
  }
}

form {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
}

.tools-used > div {
  transition: all 0.5s ease-in-out;
}

#hero-section {
  animation: slideUp 2s forwards;
  transform: translateY(200px);
  opacity: 0;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

#about {
  div {
    transition: all 2s ease;

    &.slide-out {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  img {
    transition: all 2s ease;

    &.slide-out {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

#myprojects {
  .mainContent {
    transition: opacity 2s ease 200ms;

    &.show {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.slide-in {
  transform: translate(0%) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.projects--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;

  .project .imageContainer {
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);

    img {
      transition: scale 0.5s ease;
    }
  }
}

.cover {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 20%, 0.2);
  transform-origin: bottom;
  transform: translateY(100%);
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 800ms linear;
}

.project:hover {
  .cover {
    transform: translateY(0%);
  }

  img {
    scale: 1.09;
  }
}

.mobilenav {
  transition: transform 1s ease;
}

form {
  grid-template-columns: repeat(2, 1fr);
}

input:focus,
textarea:focus {
  background-color: rgba(232, 240, 254);
}

.scroll-to-top {
  animation: scrollToTop 3s linear infinite;
}

@keyframes scrollToTop {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.circle {
  transition: background 1000ms linear, border 400ms linear;

  i {
    transition: color 1000ms ease;
  }
}

#githubstats {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  #githubstats {
    grid-template-columns: repeat(2, 1fr);

    & > :first-child {
      grid-column: span 2;
    }
  }
}

.hide {
  opacity: 0;
  transition: opacity 1s ease-in 500ms;
}

.visible {
  opacity: 1 !important;
}

.fixedNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  animation: slideDown 500ms ease-in;
}

.nav:not(.fixedNav) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  animation: moveUp 2s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    position: relative;
    opacity: 1;
  }
}

@media (max-width: 968px) {
  .mainContent {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  }
}

.becomeFixed {
  overflow-y: hidden !important;
}

// pagination

.pagination {
  display: flex;
  // gap: 3px;
  align-items: center;
  justify-content: space-between;
  background: $navBar;
  border-radius: 8px;
  margin-block: 20px;
  max-width: 300px;
  margin-inline: auto;
  color: #f3f3f3;

  > * {
    margin-inline: auto;
    padding: 10px 12px;
  }

  .page-item:not(.disabled) {
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background: $cta;
    }
  }

  .active {
    background: $cta;
  }

  .disabled {
    color: #999999;
    cursor: not-allowed;
  }
}

@media (min-width: 400px) {
  .pagination {
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  .pagination {
    max-width: 600px;
  }
  .page-item {
    padding: 8px 15px;
  }
}
